body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(233, 229, 229);
}
.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 3rem;
}
.pricing-plan {
  flex: 1;
  max-width: 300px;
  border-radius: 15px;
  background-color: white;
}
.pricing-plan > hr {
  width: 25%;
  border: rgb(206, 206, 206) solid 2px;
}
.plan-title {
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
  color: white;
}
.plan-title > hr {
  width: 90%;
  border: white solid 2px;
}
.title {
  margin-top: 10px;
  font-size: 1.5rem;
}
.subtitle {
  font-size: 0.8rem;
  padding: 0 15px;
  opacity: 0.6;
}
.pink {
  background: rgb(201, 89, 126);
  background: linear-gradient(
    355deg,
    rgba(201, 89, 126, 1) 46%,
    rgba(253, 187, 45, 1) 100%
  );
}
.blue {
  background: rgb(45, 76, 149);
  background: linear-gradient(
    355deg,
    rgba(45, 76, 149, 1) 46%,
    rgba(163, 196, 224, 1) 100%
  );
}
.green {
  background: rgb(0, 128, 128);
  background: linear-gradient(
    355deg,
    rgba(0, 128, 128, 1) 46%,
    rgba(191, 205, 152, 1) 94%
  );
}
.plan-price {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.dollar {
  font-size: 3.5rem;
}
.number {
  font-size: 4rem;
  font-weight: bold;
}
.month {
  font-size: 1.2rem;
}
.plan-features {
  list-style: none;
  color: gray;
  font-size: 0.8rem;
  padding: 10px;
  margin: 0;
}

.plan-features li {
  padding: 10px;
}
.plan-features img {
  width: 20px;
  float: left;
  padding-right: 10px;
  padding-top: 7px;
}
.btn {
  position: relative;
  display: flex;
  justify-content: center;
}
button {
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.05rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

@media (max-width: 800px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
  }
}
